# ignore all .env files
*.env

# ignore scala .class files
*.class

# ignore all vim swap files
*.swp

#ignore all pycache
*__pycache__/

#ignore all unofficial examples
chainedTxs/
SwapKeyManager


#ignore whole ergpy folder
ergpy/
